<nav>
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <li><a routerLink="album" routerLinkActive="active">Albums</a></li>
        <li><a routerLink="songs" routerLinkActive="active">Songs</a></li>
        <li><a routerLink="artist" routerLinkActive="active">Artists</a></li>
        
      </ul>
    </div>
  </nav>