<form #frmLogin = "ngForm" class="login-form" (ngSubmit)="onLogin(frmLogin)">
    <h1>Login</h1>
    <input type="email" name="email" placeholder="Email" ngModel required/>
    <input type="password" name="password" placeholder="Password" ngModel required/>
     <input type="submit" name="" value="Login"/>
  </form>