<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #AlbumsForm="ngForm" (ngSubmit)="addAlbums(AlbumsForm)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="albumsService.selectedAlbums._id">
                        <div class="row ">
                        <div class="input-field col s12">
                          <input type="text" name="name" #name="ngModel" [(ngModel)]="albumsService.selectedAlbums.name"
                          placeholder="Nombre del album" >  
                        </div>
                        <div class="input-field col s12">
                            <input type="number" name="year" #year="ngModel" [(ngModel)]="albumsService.selectedAlbums.year" >   
                         </div>  
                         <div class="input-field col s12">
                            <select>
                                <option>HOLA</option>
                            </select> 
                          </div>
                          <div class="input-field col s12">
                              <input type="number" name="year" #year="ngModel" [(ngModel)]="albumsService.selectedAlbums.year" >   
                           </div>  
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn right">Guardar</button>
                                    <button class="btn left" (click)="resetForm(ArtistsForm)">Limpiar</button>
                                </div>
                            </div>
                       </div>
                    </form>
                </div>
            </div>
        </div>
           <div class="container">
                <div class="col s7">
                    <div class="card">
                        <div class="card-content">
                            <table>  
                            <thead>
                                        <th>Album</th>
                                   </thead>    
                                        <tbody>
                                           <tr *ngFor = "let album of albumsService.albums">
                                               <td>{{ album.name}}</td>
                                               <td>{{ album.year }}</td>
                                               <td> {{ album.songs }}</td>
                                               <td> {{ album.artists }}</td>
                                               <td>
                                                   <a >
                                                       <i class="material-icons">edit</i>
                                                   </a>
                                                   <a >
                                                        <i class="material-icons">delete</i>
                                                    </a>
                                               </td> 
                                            </tr>
                                           
                                       </tbody>
                               </table>
                        </div>
                    </div>
                </div>
            </div>
          