<div class="container" style="width: 100%">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #ArtistsForm="ngForm" (ngSubmit)="addArtists(ArtistsForm)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="artistsService.selectedArtists._id">
                        <div class="row ">
                        <div class="input-field col s12">
                          <input type="text" name="name" #name="ngModel" [(ngModel)]="artistsService.selectedArtists.name"
                          placeholder="Nombre del artista" >  
                        </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn right">Guardar</button>
                                    <button class="btn left" (click)="resetForm(ArtistsForm)">Limpiar</button>
                                </div>
                            </div>
                       </div>
                    </form>
                </div>
            </div>
        </div>
            <div class="container">
                <div class="col s7">
                    <div class="card">
                        <div class="card-content">
                            <table>  
                            <thead>
                                        <th>Artista</th>
                                   </thead>    
                                        <tbody>
                                           <tr *ngFor = "let artist of artistsService.artists">
                                               <td>{{ artist.name }}</td>
                                               <td>
                                                   <a (click)="editArtists(artist)">
                                                       <i class="material-icons">edit</i>
                                                   </a>
                                                   <a (click)="deleteArtists(artist._id)">
                                                        <i class="material-icons">delete</i>
                                                    </a>
                                               </td> 
                                            </tr>
                                           
                                       </tbody>
                               </table>
                        </div>
                    </div>
                </div>
            </div>
          