<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #SongsForm="ngForm" (ngSubmit)="addSongs(SongsForm)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="songsService.selectedSongs._id">
                        <div class="row ">
                        <div class="input-field col s12">
                          <input type="text" name="name" #name="ngModel" [(ngModel)]="songsService.selectedSongs.name"
                          placeholder="Nombre de la canción" >  
                        </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn right">Guardar</button>
                                    <button class="btn left" (click)="resetForm(SongsForm)">Limpiar</button>
                                </div>
                            </div>
                       </div>
                    </form>
                </div>
            </div>
        </div>
            <div class="container">
                <div class="col s7">
                    <div class="card">
                        <div class="card-content">
                            <table>  
                            <thead>
                                        <th>Artista</th>
                                   </thead>    
                                        <tbody>
                                           <tr *ngFor = "let song of songsService.songs">
                                               <td>{{ song.name }}</td>
                                               <td>
                                                   <a (click)="editSongs(song)">
                                                       <i class="material-icons">edit</i>
                                                   </a>
                                                   <a (click)="deleteSongs(song._id)">
                                                        <i class="material-icons">delete</i>
                                                    </a>
                                               </td> 
                                            </tr>
                                           
                                       </tbody>
                               </table>
                        </div>
                    </div>
                </div>
            </div>
          