<form #frmRegister = "ngForm" class="login-form" (ngSubmit)="onRegister(frmRegister)">
        <h1>Register Information</h1>
        <input type="text" name="name" placeholder="Name" ngModel required/>
        <input type="email" name="email" placeholder="Email" ngModel required/>
        <input type="password" name="password" placeholder="Password" ngModel required/>
         <input type="submit" name="" value="Register"/>
      </form>